a{color:#fff!important}

.container-home {
    background-color: #D2F9F1;
}

.container-login {
    background-color: #D2F9F1;
}

.container-firstview {
    background-color: #63DAC3;
}

.container-body {
    background-color: #D2F9F1;
}

.container-pleurotus{
    background-color: #D2F9F1;
}
.container-collab {
    background-color: #50B3BB;
}

.container-observations {
    background-color: #317378;
}

.register-div {
    background-color: #D2F9F1;
}

.navbar {
    color: #fff;
    background-color: #317378;
}

.card-info {
    border-width:2px solid;
    border-color: #317378;
}

.firstFooter {
    height: 300px;
}