a{color:#fff!important}

.container-home {
    background-color: #D2F9F1;
}

.container-login {
    background-color: #D2F9F1;
}

.container-register {
    background-color: #D2F9F1;
}

.container-firstview {
    background-color: #63DAC3;
}

.container-body {
    background-color: #D2F9F1;
}

.caja {
    background-color: #D2F9F1;
}

.container-pleurotus{
    background-color: #D2F9F1;
}
.container-collab {
    background-color: #50B3BB;
}

.container-mushoberver {
    background-color: #50B3BB;
}

.container-observations {
    background-color: #50B3BB;
}

.register-div {
    background-color: #D2F9F1;
}

.navbar {
    color: #fff;
    background-color: #317378;
}

.card-info {
    border-width:2px solid;
    border-color: #317378;
}

.firstFooter {
    height: 300px;
}
.featuresIcons {
    height: 500px;
}

.search-bar {
    position: relative;
    width: 100%;
}

.search-bar input {
    width: 100%;
    border: none;
    background: var(--input);
    color: var(--texto);
    height: 40px;
    border-radius: 100px;
    padding: 0 20px 0 40px;
}

.search-bar .icono {
    position: absolute;
    top: 6px;
    left: 15px;
    color: var(--texto);

} 